*{
  margin: 0;
}

.App {
  background-color: #fafafa;
}

.app__header{
  position: sticky;
  top: 0;
  background-color: white;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.app__signup {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.app__headerImage {
  object-fit: contain;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}

